<% include ./partials/header %>


<div class="container">
    <h1>--------ABOUT ---------</h1>
    <p>
        Dr. Denver Housing Bubble, or Dr. Denver for short, has been blogging about trends in residential real estate trends since November of 2017.
        A combination of low rates from the reckless Federal Reserve, a continued influx of buyers coming in from higher cost of living blue states and
        a shortage of houses in the low and middle range has combined to make a perfect storm of blowing the biggest bubble the greater Denver area has every seen.
        We strive to provide an uncompromised view on the market and offer advice on what actions buyers and sellers can take without being influenced by the real estate
        industrial complex.

    </p>





<% include ./partials/footer %>