<% include ./partials/header %>

<div class=container>

    <p>
        We here at Dr. Denver Housing Bubble strive to provided to unvarnished incite into the market forces impacting
        the buying and selling of houses in the greater Denver. If you wish to have this insight for your own buying or selling
        please contact us at drdenverhbubble at gmail dot com.
    </p>
    <p>
        For media inquires, please contact us at drdenverhbubble at gmail dot com.
    </p>
</div>

<% include ./partials/footer %>