<% include ./partials/header %>



<div id="tip-jar" class="container">
    <h1>--------TIP JAR ---------</h1>
    <p>
        To ensure the future longevity of the site we would be grateful if you can make a donation to help with both 
        hosting and content costs. We strive to provide an unvarnished perspective of the greater Denver residential 
        real estate market and accept no support from groups like the National Association of Realtors, but rather viewers like you.
    </p>
    <div id="donation"class="container">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="YM236GCGQX5HE">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

    </div>
</div>

<% include ./partials/footer %>