<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui centered huge header"> <%= blogpost.name %> </div>
        <div class="ui top attached"
            <div class="item">
            <img class="ui centered rounded image" src="<%= blogpost.image %>" >
            <div class="content">
                <strong><span><%= blogpost.created.toDateString() %></span></strong>
            </div>
            <div class="description"
            <p><%- blogpost.body %> </p>
            </div>
            
        
        
        
</div>

<% include ./partials/footer %>